<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.lfcx.customer">


    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name=".activity.CustomerLoginActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="lfcx.action.main.customer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.CustomerJPushReceiver">
            <intent-filter>
                <action android:name="Customer.BROADCAST"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.DestinationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.CustomerRegisterActivity"
            android:label="@string/title_activity_customer_register"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.CallCarSucessActivity" />
        <activity android:name=".activity.CustomerOrderActivity" />
        <activity android:name=".activity.CustomerBookActivity" />
        <activity android:name=".activity.CustomerWebviewActivity" />
        <activity android:name=".activity.CallWaitActivity"></activity>
    </application>

</manifest>
